body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-image: url("matrix.jpg");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center;
} 

#pageTitle {
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    color: white;
    font-family: "Courier New", sans-serif;
    -webkit-text-stroke: 1px black;
}

#mainContent {
    width: 100vh;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#calculatorContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #0d5798;
}

#calculatorScreen {
    height: 120px;
    width: 350px;
    border: 1px solid black;
    align-self: center;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #b7b7b5;
}

.smallButton {
    height: 80px;
    width: 80px;
    font-size: 36px;
    border-radius: 10px;
    background-color: #9fb6d0;
}

.bigButton {
    height: 50px;
    width: 155px;
    margin: 10px;
    border-radius: 10px;
    font-size: 24px;
    background-color: #c86a7e;
}

#firstRow, #secondRow, #thirdRow, #fourthRow, #fifthRow{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

#calculatorScreenLower {
    height: 60px;
    width: 350px;
    text-align: right;
    font-size: 52px;
}

#calculatorScreenUpper {
    height: 60px;
    width: 350px;
    text-align: right;
    font-size: 32px;
}



